<table mat-table [dataSource]="datasource" matSort matSortActive="score" matSortDirection="desc" class="mat-elevation-z8 score-table">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
  </ng-container>

  <!-- Score Column -->
  <ng-container matColumnDef="score">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Score </th>
    <td mat-cell *matCellDef="let row"> {{row.score}} </td>
  </ng-container>

    <!-- Location Column -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
      <td mat-cell *matCellDef="let row"> {{row.location}} </td>
    </ng-container>

  <!-- Distance Column -->
  <ng-container matColumnDef="distance">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Distance </th>
    <td mat-cell *matCellDef="let row"> {{geoLocationService.distanceFormat(geoLocationService.distanceBetween(latitude, longitude, row.latitude, row.longitude))}} km</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.online]='matchUuid(row.device_id)'></tr>
</table>
<mat-paginator [pageSizeOptions]="[10]"
showFirstLastButtons
aria-label="Select page of highscores">
</mat-paginator>

<button mat-raised-button (click)="clearHighscore()" class="button">
  Clear highscore
</button>

