.dropbox {
  position: absolute;
  top: 70%;
  left: 10%;
  height: 40px;
  width: 40px;
  background-color: #3f51b5;
  border-radius: 50%;
  z-index: 3;
  filter: drop-shadow(0px 0px 5px #3f51b5);
}
