<mat-toolbar color="primary">
  <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span><a routerLink="">Game</a></span>
      </button>
      <button mat-menu-item>
        <mat-icon>sports_score</mat-icon>
        <span><a routerLink="/highscore">Highscore</a></span>
      </button>
    </mat-menu>
  </span>
  <span>ClickGame</span>
</mat-toolbar>
<router-outlet></router-outlet>
