
<mat-grid-list class="main partical-container" cols="1" rowHeight="20%">
  <mat-grid-tile>
    <p>You have {{time / 1000}} seconds to press the button as many times you can.<br>You best times will be saved in the highscore tab.<br>Please enter your name in the input field.</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field class="inputfield" appearance="fill">
      <mat-label>Player Name</mat-label>
      <input matInput type="text" [(ngModel)]="name"  (change)="nameChange()" [disabled]="counter !== 0">
      <button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <button class="button" [ngClass]="!cooldown && name != '' ? 'ready' : 'notready'" [disabled]="cooldown || name == ''" (click)="buttonClick($event)" >
      <h1>-- {{clicks}} --</h1>
      <h1>Time left: {{counter | number:'4.0'}}</h1>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <div [hidden]="score == 0" class="highscore">
      <span>
        <p>Your score was {{score}} clicks</p>
      </span>
      <button mat-button color="accent" (click)="shareScore()">Share score</button>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<app-draganddrop></app-draganddrop>
