$button-size: 200px;
$button-shrink: 20px;

.main {
  text-align: center;
  .inputfield{
    width: 80%;
  }
  .button {
    border-radius: 4px;
    background: #333;
    text-align: center;
    z-index: 2;
    cursor: pointer;
    color: #fff;
    box-shadow: 0px 1px 5px 2px #BFCEEF;
    transition: 500ms;

    &:active,
    &:hover,
    &:focus {
      outline: none !important;
      color: white;
    }


    &.ready{
      &:active {
        transform: scale(0.9);
      }
    }

    &.notready {
      opacity: 0.7
    }
  }

}

