
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$mat-primary-scheme: (
  100: #c5cae9,
  500: #3f51b5,
  700: #303f9f,
  contrast: (
    100: rgba(0,0,0,0.87),
    500: #ffffff,
    700: #ffffff,
  )
);
$mat-accent-scheme: (
  100: #fdd08e,
  500: #ff970d,
  700: #8a4e00,
  contrast: (
    100: rgba(0,0,0,0.87),
    500: rgba(0,0,0,0.87),
    700: #ffffff,
  )
);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mesterkaa-dk-primary: mat.define-palette($mat-primary-scheme);
$mesterkaa-dk-accent: mat.define-palette($mat-accent-scheme);

// The warn palette is optional (defaults to red).
$mesterkaa-dk-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$mesterkaa-dk-theme: mat.define-light-theme((
  color: (
    primary: $mesterkaa-dk-primary,
    accent: $mesterkaa-dk-accent,
    warn: $mesterkaa-dk-warn,
  )
));


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($mesterkaa-dk-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

particle {
  border-radius: 50%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  z-index: 11;
  opacity: 0;
}
